#transition-container {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: Arial, sans-serif;
}

button {
  border-radius: 8px;
  border: none;
  background-color: #2563eb;
  color: white;
  font-size: 18px;
  padding: 16px 24px;
  text-align: center;
}

#transition-container :hover {
  animation-duration: 2s;
  animation-name: breathe;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

@keyframes breathe {
  0% {
    scale: 1 1;
  }
  100% {
    scale: 2 2;
  }

}
